In [42]:
%config IPCompleter.greedy = True
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
#nltk.download('stopwords') # one time

# Helper class
from Data_Preprocessing_Helper import *

In [43]:
dataFrame = pd.read_csv("data/raw/top100users.csv")

/home/alemag/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
print(df.isnull().sum())

user_name          0
text               0
retweet_count      0
favorite_count     0
is_quote_status    0
favorited          0
retweeted          0
hastags            0
urls               0
user_mentions      0
tweet_age          0
dtype: int64

In [45]:
df = dataFrame
print(df.keys())
len(df)

Index(['Unnamed: 0', 'id', 'user_name', 'text', 'created_at', 'retweet_count',
       'favorite_count', 'is_quote_status', 'favorited', 'retweeted',
       'hastags', 'urls', 'user_mentions', 'crawl_at'],
      dtype='object')

293151

In [46]:
len(df['text'])

293151

In [22]:
df.describe()

,Unnamed: 0,id,user_name,text,created_at,retweet_count,favorite_count,is_quote_status,favorited,retweeted,hastags,urls,user_mentions,crawl_at
count,293151,293150,293150,293150,293143,293143,293143,293143,293143,293143,293143,293136,293136,293136
unique,293151,293150,107,291713,291375,27180,41318,8,9,3,79107,132688,107024,3
top,16918,593214110797443072,danieltosh,Lock in! #DubNation,False,0,0,False,False,False,[],[],[],2018-07-04 03:22:09
freq,1,1,3247,230,7,4377,38924,179223,196593,196593,195597,158438,154070,153278

In [23]:
df.head(10)

,Unnamed: 0,id,user_name,text,created_at,retweet_count,favorite_count,is_quote_status,favorited,retweeted,hastags,urls,user_mentions,crawl_at
0,0,1014234887094657024,katyperry,My ‚ù§ was touched by Carter's story. If you're ...,2018-07-03 19:50:15,1381,5505,False,False,False,[],"[{'url': 'https://t.co/JkBmP7QJsZ', 'expanded_...",[],2018-07-04 03:22:08
1,1,1010331219245125634,katyperry,Was so proud to give the gift of #transcendent...,2018-06-23 01:18:28,1652,10933,False,False,False,"[{'text': 'transcendentalmeditation', 'indices...","[{'url': 'https://t.co/4EKlQMP9Wk', 'expanded_...",[],2018-07-04 03:22:08
2,2,1010243008812470273,katyperry,found my first skin tag today. I think I‚Äôm an ...,2018-06-22 19:27:57,2184,18218,False,False,False,"[{'text': 'TGIF', 'indices': [57, 62]}]",[],[],2018-07-04 03:22:08
3,3,1009619630695034881,katyperry,"Never forget, everyone was once a child.",2018-06-21 02:10:52,14991,66913,False,False,False,[],[],[],2018-07-04 03:22:08
4,4,1009544070631264256,katyperry,My Aussies üê® &amp; Kiwis ü•ù! For the FINALE of ...,2018-06-20 21:10:37,1551,9637,False,False,False,"[{'text': 'WitnessTheTour', 'indices': [46, 61]}]","[{'url': 'https://t.co/tkXX44Dypk', 'expanded_...",[],2018-07-04 03:22:08
5,5,1007711873075015680,katyperry,"I üëÅ you, @RoarForJess, and I ‚ù§ you, and I‚Äôm si...",2018-06-15 19:50:07,2714,17974,False,False,False,[],[],"[{'screen_name': 'RoarForJess', 'name': 'Help ...",2018-07-04 03:22:08
6,6,1005598398815375361,katyperry,Scandinavians have figured it out.,2018-06-09 23:51:56,2679,23315,False,False,False,[],[],[],2018-07-04 03:22:08
7,7,1005450060581269505,katyperry,Oi oi @JackGarratt remember when we locked our...,2018-06-09 14:02:29,2215,10221,False,False,False,[],"[{'url': 'https://t.co/qosnSJtTr0', 'expanded_...","[{'screen_name': 'JackGarratt', 'name': 'Jack ...",2018-07-04 03:22:08
8,8,1005300569076989955,katyperry,WITNESS IS 1‚É£‚ùóüéÇ üéà https://t.co/fz83TjrJUr http...,2018-06-09 04:08:27,5660,24508,False,False,False,[],"[{'url': 'https://t.co/fz83TjrJUr', 'expanded_...",[],2018-07-04 03:22:08
9,9,1004410509125353472,katyperry,IM SCREAMINGOSBEJRMF$&amp;2@!K https://t.co/Sn...,2018-06-06 17:11:41,12033,48937,True,False,False,[],"[{'url': 'https://t.co/SnRrHLSSLR', 'expanded_...",[],2018-07-04 03:22:08

In [64]:
df['created_at'].isnull().sum()

0

In [70]:
len(df['created_at'])

293143

In [68]:
df['crawl_at'].dropna(inplace=True)

In [59]:
# to remove nan from text only
#df[(df.text!='nan')]

In [24]:
#df.dropna(inplace=True)
# drop column is nan exists 
#df.drop_duplicates().sum() #It will remove duplicates index

In [49]:
#drop old tweet less than 7 days
# tweet age
df['created_at'] = pd.to_datetime(df['created_at'])
df['crawl_at'] = pd.to_datetime(df['crawl_at'])
df['tweet_age'] = ((df['crawl_at'] - df['created_at'] ) / pd.Timedelta('24 hour')).astype(int)
df = df.drop(df[df.tweet_age > 7].index)

ValueError: ('Unknown string format:', 'False')

In [26]:
len(df)

10585

In [27]:
# one time only
df = df.drop(['Unnamed: 0', 'id', 'created_at', 'crawl_at'], axis=1)

In [28]:
print(df.isnull().sum())
print(len(df))
print(df.keys())

user_name          0
text               0
retweet_count      0
favorite_count     0
is_quote_status    0
favorited          0
retweeted          0
hastags            0
urls               0
user_mentions      0
tweet_age          0
dtype: int64
10585
Index(['user_name', 'text', 'retweet_count', 'favorite_count',
       'is_quote_status', 'favorited', 'retweeted', 'hastags', 'urls',
       'user_mentions', 'tweet_age'],
      dtype='object')

In [31]:
# Remove emojis
#df.text = df.text.apply(removeEmoj)
df["text"] =  df.text.str.replace('[^\x00-\x7F]','')
df.text = df.text.apply(removeEmoj)

In [32]:
#df['text'] = df['text'].str.lower() # make lower case to every character
df.text = df.text.apply(lambda x: x.lower())

#remove stop words, but length of text is short so better not remove
stop = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

# remove url from text
urlPattern = "(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})"
df.text = df.text.str.replace(urlPattern, '')

# remove punctutation
df.text = df.text.apply(removePunctuations)

# remove non ASCII
df.text = df.text.apply(removeNonAscii)

In [33]:
# Get only clean urls
urlPattern = "(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})"
df.urls = df.urls.str.extract(urlPattern, expand = True)
df.urls = df.urls.str.replace("',", "")
df['urls']=df['urls'].fillna('')

In [34]:
# Get only users mentioned screen names
def usersMentions(mentionUsers):
    regex = r'\b\w+\b'
    list1=re.findall(regex, mentionUsers)
    mention = []    
    for i, name in enumerate(list1):
        if 'screen_name' in name:
            mention.append(i+1)        
    #print(mention)    
    a = np.array(list1)
    return list(a[mention])

In [35]:
# one time if for converison of list
df.user_mentions = df.user_mentions.apply(usersMentions)

In [36]:
df.user_mentions = df.user_mentions.apply(', '.join)

In [37]:
# Get only users mentioned screen names
def getHasTags(hasTags):
    regex = r'\b\w+\b'
    list2 = re.findall(regex, hasTags)
    mention = []    
    for i, name in enumerate(list2):
        if 'text' in name:
            mention.append(i+1)        
    #print(mention)    
    a = np.array(list2)
    return list(a[mention])

In [38]:
# one time if for converison of list
df.hastags = df.hastags.apply(getHasTags)

In [39]:
df.hastags = df.hastags.apply(', '.join)

In [40]:
# finally save to preprocessed folder
df.to_csv("data/processed/" + "processed.csv", sep=',', encoding='utf-8', index=False)

10585